/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
* {
  margin: 0px;
  padding: 0px;
}
/* navbar */
body {
  background: url("C:\Users\abdoy\OneDrive\Documents\testing_project\src\imgs\homeimg.jpeg")
    no-repeat;
  background-size: cover;
  height: 100vh;
}
.myNavbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(
    90deg,
    #008787 0%,
    #027c7c 58%,
    #004a4a 82.5%,
    #003030 100%
  );
  align-items: center;
  color: #ffff;
}
.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
.list li,
.fa-brands,
.fa-user {
  cursor: pointer;
}
/* homepage */
.container {
  padding: 50px;
  text-align: left;
  width: 700px;
}

h2 {
  font-size: 38px;
  font-family: PT Sans Caption;
}

p {
  font-size: 33px;
  line-height: 1.5;
  margin: 30px 30px;
  font-family: PT Sans;
}

.get-started {
  background-color: #00b3b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-transform: lowercase;
  margin: 0px 30px;
}
